@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fonts/idroid.ttf') format('truetype'),
    url('/fonts/idroid.otf') format('opentype');
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', Arial, Helvetica, cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
    text-align: center;
    margin-bottom: 20px;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px rgb(0 0 0 / 25%);
    text-align: center;
    padding: 0px 10px 50px
}

nav {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgb(0 0 0 / 19%);
}

nav > a {
    font-family: var(--fonte-padrao);
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor2);
}

main {
    background-color: white;
    font-family: var(--fonte-padrao);
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    margin-bottom: 30px;
}

main article {
    width: 100%;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor5);
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    padding-left: 8px;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1),transparent);
}

main p {
    text-indent: 30px;
    line-height: 2em;
    text-align: justify;
    margin: 15px 0px
}

main strong {
    color: var(--cor4);
}

main img {
    width: 100%;
}

#pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main .link {
    font-weight: bold;
    color: var(--cor5);
    text-decoration: none;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main .link:hover {
    text-decoration: underline;
    color: var(--cor4);
}

a.link::after {
    content: '\00A0\1F517';
}

aside {
    border-radius: 10px;
    padding-bottom: 5px;
    background-color: var(--cor1);
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
}

aside p {
    padding: 0px 10px;
}

aside > h3 {
    color: white;
    padding: 10px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor4);
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 0px 10px;
}

footer {
    background-color: var(--cor5);
}

footer p {
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding: 5px;
}